/** background **/

.background-section {
    background-image: url('/images/Other/Netflix-background.png');
    background-size: cover;
    position: relative;
    height: 110vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font: 1em sans-serif;
}

/** navbar **/

.navbar {
    display: flex;
    flex-direction: row;
    padding: 0 148px;
    justify-content: space-between;
    height: 80px;
    width: 80%;
    align-items: center;
    z-index: 2;
    position: relative;
}

.wrap,
.logo,
.button,
.select select {
    position: relative;
    z-index: 2;
}

.logo {
    height: 40px;
    width: 148px;
}

.wrap {
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap: 12px;
    margin-top: 10px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.select {
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 120px;
    position: relative;
}

.select select {
    color: #fff;
    background: transparent;
    border: none;
    font-size: 16px;
    appearance: none;
    padding: 6px 20px 6px 20px;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    /* For Safari and Chrome */
    -moz-appearance: none;
    /* For Firefox */
    cursor: pointer;
}

.select option {
    width: 100%;
}

.select select:focus {
    outline: none;
}

.select #drop {
    position: absolute;
    color: #fff;
    z-index: 3;
    right: 15px;
}

.button a {
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.button button {
    height: 100%;
    width: 76px;
    color: #fff;
    background: #e50914;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.button button:hover {
    background: #c11119;
}

/** Center text **/

.center-text {
    padding: 0 32px 32px;
    z-index: 2;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-text .heading1 h1 {
    font-size: 56px;
    margin: 0 0 16px;
    font-weight: 800;
}

.center-text .plan p {
    font-size: 20px;
    margin: 0 0 32px;
    font-weight: 600;
}

.center-text .heading2 h3 {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

/** input area **/

.get-started {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0 0;
    height: 72px;
    width: 588px;
    align-items: center;
    position: relative;
}

.input-box {
    position: relative;
}

.input-box input {
    height: 57px;
    width: 400px;
    padding: 24px 16px 8px;
    box-sizing: border-box;
    margin-right: 13px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #b0b0b0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 0;
    background-color: transparent;
    padding: 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    transform: translateY(-120%);
    font-size: 0.8rem;
    top: 25px;
    left: 12px;
    z-index: 1;
    padding: 0 5px;
    color: #b0b0b0;
}

.button2 button {
    height: 100%;
    width: 205px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: #e50914;
    color: #fff;
    font-weight: 600;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

button i {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

.button2 button:hover {
    background: #c11119;
}

/** content **/

.content {
    padding: 0 148px;
    background: #000;
    color: #fff;
}

.heading3 h2 {
    font-size: 24px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

/** select **/

.options {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.option select:focus {
    outline: none;
}

.option #drop {
    position: absolute;
    color: #fff;
    z-index: 3;
    right: 15px;
}

#option2 {
    width: 140px;
}

.option {
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 120px;
    position: relative;
}

.option select {
    cursor: pointer;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 16px;
    appearance: none;
    padding: 6px 20px 6px 20px;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    /* For Safari and Chrome */
    -moz-appearance: none;
    /* For Firefox */
}

select option {
    color: #000;
    background: #fff;
}

/** top 10 movies **/

.image-section {
    display: flex;
    flex-direction: row;
}

.scroll-icon {
    background: #ffffff1a;
    width: 24px;
    height: 120px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 12px;
}

#small-icon-left {
    margin-right: 12px;
}

.scroll-icon,
#small-icon-left {
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.scroll-icon:hover {
    background: #414141;
}

.image-wrap {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 25px;
    margin-bottom: 70px;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    overflow-x: scroll;
}

.image-wrap::-webkit-scrollbar {
    display: none;
}

.image-wrap .images-box {
    position: relative;
    min-height: 252px;
    min-width: 180px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    padding: 8px 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.number {
    position: absolute;
    bottom: 5px;
    left: -3px;
    background: transparent;
    color: #000;
    font-size: 100px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.images-box:hover {
    scale: 1.08;
}

.images-box img {
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

/** more reasons to join **/

.heading4 h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

/** boxes **/

.box-wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 100px;
}

.box {
    height: 280px;
    width: 300px;
    border-radius: 15px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    position: relative;
}

.box img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
}

.text-wrap {
    padding: 24px 16px 128px;
}

.text-wrap h3 {
    font-size: 23px;
    color: #fff;
    margin: 10px 0 0;
    font-weight: 600;
}

.text-wrap p {
    font-size: 17px;
    color: #ffffffb3;
    margin: 16px 0 0 0;
}

/** questions **/

.heading5 h3 {
    font-size: 22px;
    color: #ffffff;
    margin: 0 0 20px 0;
    font-weight: 600;
}

.question-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.question-wrap {
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: auto;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 96%;
    padding: 24px;
    background: #2d2d2d;
    transition: all 0.3s ease;
}

.question:hover {
    background: #414141;
}

.question h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
}

.question i {
    font-size: 30px;
    color: #ffffff;
}

.question i.active {
    transform: rotate(45deg);
}

.answer {
    padding: 24px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 96%;
}

.answer span {
    font-size: 24px;
}

/* hidden class */

.hidden {
    display: none;
}

/** from below questions **/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.heading6 h3 {
    font-size: 16px;
    margin: 0 0 -5px 0;
}

#input-box {
    background: #0f0f0f;
}

#input2 {
    width: 560px;
    font-size: 16px;
}

/** footer **/

footer {
    background: #000;
    padding: 0 148px 90px 148px;
}

.contact {
    margin: 32px 0 0;
    padding: 3px;
}

.contact p,
.contact a {
    font-size: 16px;
    color: #ffffffb3;
}

.contact a {
    letter-spacing: 1px;
}

/** footer panel **/

.foot-panel {
    margin-top: 20px;
    margin-bottom: 50px;
}

ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    width: 300px;
    height: 21px;
    margin: 12px 0 0;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

ul a {
    color: #ffffffb3;
    text-decoration: underline 1px;
}

#foot {
    background: #000;
    margin-bottom: 25px;
}

.foot-text p {
    font-size: 14px;
    color: #ffffffb3;
}

/** responsiveness **/

@media (max-width: 1250px) {

    .navbar {
        padding: 0 80px;
        width: 88%;
    }

    /* home section */

    .wrap {
        margin: 0;
    }

    .center-text {
        margin-top: 40px;
    }

    .center-text .heading1 h1 {
        font-size: 40px;
    }

    .center-text .plan p {
        font-size: 16px;
    }

    .center-text .heading2 h3 {
        font-weight: normal;
        width: 500px;
        text-align: center;
        line-height: 1.3;
    }

    .get-started {
        width: 432px;
    }

    .input-box input {
        height: 56px;
        width: 300px;
    }

    .button2 button {
        font-size: 1.25rem;
        width: 180px;
    }

    button i {
        font-size: 18px;
    }

    /* content */

    .content {
        padding: 0 80px;
    }

    /* top - 10 movies */

    .image-wrap {
        gap: 10px;
        max-width: none;
    }

    .image-wrap .images-box {
        min-height: 196px;
        min-width: 140px;
        padding: 6px 22px;
    }

    .number {
        font-size: 70px;
    }

    .scroll-icon {
        margin-top: 80px;
    }

    /* boxes */

    .box-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box {
        height: 190px;
        width: 100%;
    }

    .text-wrap {
        padding: 24px 24px 96px;
    }

    .text-wrap h3 {
        font-size: 20px;
    }

    .text-wrap p {
        font-size: 16px;
    }

    /* questions */

    .heading5 h3 {
        margin-top: -20px;
    }

    /* footer */

    footer {
        padding: 0 80px 96px;
    }
}

@media (max-width: 960px) {

    .navbar {
        padding: 0 32px;
        width: 93%;
    }

    .logo {
        height: 24px;
        width: 89px;
    }

    /* home section */

    .background-section {
        height: 95vh;
    }

    .center-text .heading1 h1 {
        font-size: 32px;
    }

    .input-box input {
        width: 250px;
    }

    /* content */

    .content {
        padding: 0 32px;
    }

    /* top - 10 movies */

    .heading3 h2 {
        font-size: 18px;
        margin-bottom: -10px;
    }

    .image-wrap {
        gap: 5px;
    }

    .image-wrap .images-box {
        min-height: 156px;
        min-width: 112px;
        padding: 5px 10px;
    }

    .scroll-icon {
        margin-top: 50px;
    }

    .options {
        display: none;
    }

    /* boxes */

    .heading4 h2 {
        font-size: 18px;
        margin: 12px 0 10px;
    }

    .box-wrap {
        grid-template-columns: 1fr;
        margin-bottom: -10px;
    }

    .box {
        margin-bottom: -10px;
    }

    /* questions */

    .heading5 h3 {
        font-size: 18px;
        margin-top: 60px;
    }

    .question h3,
    .answer span {
        font-size: 18px;
    }

    .question,
    .answer {
        width: 90%;
    }

    .question i {
        font-size: 25px;
    }

    #get-started {
        width: 100%;
    }

    .button2 {
        height: 48px;
    }

    .heading6 h3 {
        font-weight: 500;
    }

    /* footer */

    footer {
        padding: 0 32px 96px;
    }
}

@media (max-width: 840px) {

    #input2 {
        width: 380px;
    }
}

@media (max-width: 600px) {

    /* home section */

    .center-text .heading1 h1,
    .center-text .heading2 h3 {
        width: 535px;
        font-weight: 600;
    }

    .get-started {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .input-box input {
        height: 48px;
        width: 535px;
    }

    .button2 button {
        width: 160px;
    }

    /* boxes */

    .text-wrap {
        padding: 24px 16px 80px;
    }

    #get-started {
        align-items: normal;
    }

    #input2 {
        width: 110%;
    }

    #foot {
        width: 124px;
    }

    /* footer */

    footer {
        padding: 0 24px 96px;
    }
}

@media (max-width: 580px) {

    /* navbar */

    .navbar {
        padding: 0 24px;
        width: 90%;
    }

    .center-text,
    .center-text .heading1 h1,
    .center-text .heading2 h3,
    .input-box,
    .input-box input {
        width: 90%;
    }

    .get-started {
        width: 100%;
    }

    /* question */

    .question,
    .answer {
        width: 85%;
    }
}

@media (max-width: 400px) {

    .select select {
        width: 80px;
    }
}