/** background **/

.background-section {
    background-image: url('/images/Other/Netflix-background.png');
    background-size: cover;
    position: relative;
    height: 110vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    font: 1em sans-serif;
}

/* scrollbar */

::-webkit-scrollbar {
    height: 8px;
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #9f9f9f;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #797878
}

/** logo **/

.navbar {
    position: relative;
    z-index: 2;
    margin-top: 25px;
    margin-left: 120px;
}

.navbar a {
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.logo {
    height: 40px;
    width: 148px;
    margin: 10px 0 0 58px;
}

.logo img {
    height: 100%;
    width: 100%;
}

/** Sign-in box **/

.wrap {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sign-in-box {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 500px;
    min-width: 300px;
    padding: 48px 68px;
    border-radius: 7px;
}

/** title **/

.sign-in-box .title h1 {
    font-size: 32px;
    color: #ffffff;
    margin: 10px 0 28px 0;
}

/** Input box **/

.input-box {
    position: relative;
}

.box1 {
    margin-bottom: 15px;
}

.input-box input {
    height: 57px;
    width: 314px;
    padding: 24px 16px 8px;
    box-sizing: border-box;
    margin-right: 13px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #b0b0b0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 0;
    background-color: transparent;
    padding: 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    transform: translateY(-120%);
    font-size: 0.8rem;
    top: 25px;
    left: 12px;
    z-index: 1;
    padding: 0 5px;
    color: #b0b0b0;
}

/** button **/

.button button {
    height: 40px;
    width: 314px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #e50914;
    color: #fff;
    margin-top: 15px;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.button button:hover {
    background: #c11119;
}

/** Text between two buttons **/

.text {
    display: flex;
    justify-content: center;
}

.text p {
    margin-top: 20px;
    font-size: 16px;
    color: #ffffffb3;
}

/** button 2 **/

.code button {
    height: 40px;
    width: 314px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.code button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/** forgot password **/

.forgot-password {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.forgot-password a {
    color: #ffffff;
    font-size: 16px;
}

/** remember password **/

.remember {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    transform: scale(1.05);
    background-color: #000;
    border: 2px solid #555;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    width: 3px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -50%);
    display: none;
}

input[type="checkbox"]:checked::before {
    display: block;
}

input[type="checkbox"]:checked {
    background-color: #fff;
    color: #000;
    border: none;
}

input[type="checkbox"]:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

.remember label {
    padding: 0 0 0 12px;
    font-size: 16px;
    color: #ffffff;
}

/** New account **/

.new {
    margin-top: 20px;
}

.new p {
    font-size: 16px;
    color: #ffffffb3;
}

.new p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.new p a:hover {
    text-decoration: underline;
}

/** recaptcha **/

.bottom-text {
    margin: 20px 0;
}

.bottom-text p {
    font-size: 13px;
    color: #8c8c8c;
    line-height: 18px;
    font-weight: 600;
}

.bottom-text a {
    font-size: 13px;
    color: #0071eb;
    font-weight: 500;
}

/** footer **/

footer {
    height: 100%;
    width: 100%;
}

.wrapper {
    padding: 0 48px;
    margin: 72px 100px;
}

/** contact number **/

.contact {
    margin: 32px 0 0;
    padding: 3px;
}

.contact p {
    font-size: 16px;
    color: #ffffffb3;
}

/** panel **/

.foot-panel {
    margin-top: -20px;
    margin-bottom: 25px;
}

ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    width: 280px;
    height: 21px;
    margin: 12px 0 0;
    font-size: 14px;
}

ul a {
    color: #ffffffb3;
    text-decoration: underline 1px;
}

/** select **/

.select {
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 120px;
    position: relative;
}

.select select {
    color: #fff;
    background: transparent;
    border: none;
    font-size: 16px;
    appearance: none;
    padding: 6px 20px 6px 20px;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    /* For Safari and Chrome */
    -moz-appearance: none;
    /* For Firefox */
    cursor: pointer;
}

.select option {
    width: 100%;
}

.select select:focus {
    outline: none;
}

.select #drop {
    position: absolute;
    color: #fff;
    z-index: 3;
    right: 15px;
}

select option {
    background: #fff;
    color: #000;
}

/* responsiveness */

@media (max-width: 1250px) {

    .background-section {
        height: 125vh;
    }

    .navbar {
        margin-left: 0;
    }

    .logo {
        margin-left: 30px;
    }

    .wrapper {
        margin: 72px 0;
        padding: 0 25px;
    }
}

@media (max-width: 950px) {

    .logo {
        height: 24px;
        width: 89px;
    }

    .wrapper {
        margin: 30px 0;
    }

    .contact,
    .contact p {
        margin: 0;
    }

    .contact p {
        margin-bottom: 20px;
    }
}

@media (max-width: 670px) {

    ul li {
        width: 150px;
    }
}

@media (max-width: 600px) {

    .background-section {
        background-image: none;
        height: auto;
    }

    .sign-in-box {
        padding-top: 30px;
        padding-bottom: 60px;
        height: 100%;
        width: 100%;
    }

    .input-box input,
    .code button,
    .button button {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .sign-in-box {
        min-width: 280px;
        padding: 0 20px;
    }

    .bottom-text p {
        width: 100%;
    }

    ul {
        margin-bottom: 40px;
    }

    ul li {
        width: 110px;
    }
}