/** background **/

.background-section {
    background: #000;
    background-image: url('images/Netflix-background.png');
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font: 1em sans-serif;
}

/** navbar **/

.navbar {
    display: flex;
    flex-direction: row;
    padding: 0 80px;
    justify-content: space-between;
    height: 80px;
    width: 1200px;
    max-width: 1200px;
    align-items: center;
    z-index: 2;
    position: relative;
}

.wrap,
.logo,
.button,
.select select {
    position: relative;
    z-index: 2;
}

.logo {
    height: 40px;
    width: 148px;
    margin: 10px 0 0 58px;
}

.wrap {
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap: 12px;
    margin-top: 10px;
    margin-right: -70px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.select select {
    padding: 6px 20px 6px 20px;
    color: #fff;
    background: transparent;
    height: 32px;
    width: 120px;
    font-size: 16px;
    border: 1px solid #5e5e5e;
    border-radius: 5px;
}

.button button {
    height: 32px;
    width: 76px;
    color: #fff;
    background: #e50914;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.button button:hover {
    background: #c11119;
}

/** Center text **/

.center-text {
    margin-top: 70px;
    padding: 0 32px 32px;
    z-index: 2;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-text .heading1 h1 {
    font-size: 56px;
    margin: 0 0 16px;
}

.center-text .plan p {
    font-size: 20px;
    margin: 0 0 32px;
}

.center-text .heading2 h3 {
    font-size: 16px;
    margin: 0;
}

/** input area **/

.get-started {
    display: flex;
    flex-direction: row;
    padding: 16px 0 0;
    height: 72px;
    width: 588px;
    align-items: center;
    position: relative;
}

.input-box {
    position: relative;
}

.input-box input {
    height: 57px;
    width: 400px;
    padding: 24px 16px 8px;
    box-sizing: border-box;
    margin-right: 13px;
    background-color: transparent;
    border: 2px solid #5e5e5e;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #b0b0b0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 0;
    background-color: transparent;
    padding: 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    transform: translateY(-120%);
    font-size: 0.8rem;
    top: 25px;
    left: 12px;
    z-index: 1;
    padding: 0 5px;
    color: #b0b0b0;
}

.button2 button {
    height: 100%;
    width: 205px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: #e50914;
    color: #fff;
}

button i {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

.button2 button:hover {
    background: #c11119;
}

/** content **/

.content {
    padding: 0 148px;
    background: #000;
    color: #fff;
}

.heading3 h2 {
    font-size: 24px;
    color: #fff;
}

/** select **/

.options {
    display: flex;
    gap: 20px;
}

.options select {
    padding: 8px 36px 8px 12px;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    background: #000;
    font-size: 16px;
}

select option {
    color: #000;
    background: #fff;
}

/** top 10 movies **/

.image-wrap {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 25px;
    margin-bottom: 70px;
    max-width: 1200px;
    overflow: hidden;
    overflow-x: scroll;
}

.image-wrap::-webkit-scrollbar {
    display: none;
}

.image-wrap .images-box {
    position: relative;
    min-height: 252px;
    min-width: 180px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    padding: 8px 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.number {
    position: absolute;
    bottom: 5px;
    left: -3px;
    background: transparent;
    color: #000;
    font-size: 100px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.images-box:hover {
    scale: 1.08;
}

.images-box img {
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

/** more reasons to join **/

.heading4 h2 {
    font-size: 24px;
    color: #fff;
}

/** boxes **/

.box-wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 100px;
}

.box {
    height: 280px;
    width: 300px;
    border-radius: 15px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}

.text-wrap {
    padding: 24px 16px 128px;
}

.text-wrap h3 {
    font-size: 23px;
    color: #fff;
    margin: 16px 0 0 0;
}

.text-wrap p {
    font-size: 17px;
    color: #ffffffb3;
    margin: 16px 0 0 0;
}

/** questions **/

.heading5 h3 {
    font-size: 22px;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.question-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;
    cursor: pointer;
}

.question-wrap {
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: auto;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 96%;
    padding: 24px;
    background: #2d2d2d;
    transition: all 0.3s ease;
}

.question:hover {
    background: #414141;
}

.question h3 {
    font-size: 24px;
    color: #ffffff;
}

.question i {
    font-size: 30px;
    color: #ffffff;
}

.question i.active {
    transform: rotate(45deg);
}

.answer {
    padding: 24px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer span {
    font-size: 24px;
}

/* hidden class */

.hidden {
    display: none;
}

/** from below questions **/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 200px;
}

.heading6 h3 {
    font-size: 16px;
    margin: 0 0 -5px 0;
    margin-left: 200px;
}

#input-box {
    background: #0f0f0f;
}

#input2 {
    width: 560px;
    font-size: 16px;
}

/** footer **/

footer {
    background: #000;
    padding: 0 148px 90px 148px;
}

.contact {
    margin: 32px 0 0;
    padding: 3px;
}

.contact p,
.contact a {
    font-size: 16px;
    color: #ffffffb3;
}

/** footer panel **/

.foot-panel {
    margin-top: 20px;
    margin-bottom: 50px;
}

ul {
    padding: 0px;
}

ul .row1,
ul .row2,
ul .row3,
ul .row4 {
    display: flex;
    flex-direction: row;
}

ul li {
    list-style: none;
    width: 280px;
    height: 21px;
    margin: 12px 0 0;
}

ul a {
    color: #ffffffb3;
    text-decoration: underline 1px;
}

#foot {
    background: #000;
    margin-bottom: 25px;
}

.foot-text p {
    font-size: 14px;
    color: #ffffffb3;
}

/** responsive **/

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .input-box input {
        width: 100%;
    }

    .get-started {
        flex-direction: column;
        align-items: stretch;
    }

    .button2 button {
        width: 100%;
    }
}