/** background **/

.background-section {
    background: #000;
    background-image: url('images/Netflix-background.png');
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font: 1em sans-serif;
}

/** logo **/

.navbar {
    position: relative;
    z-index: 2;
    margin-top: 25px;
    margin-left: 120px;
}

.logo {
    height: 40px;
    width: 148px;
    margin: 10px 0 0 58px;
}

.logo img {
    height: 100%;
    width: 100%;
}

/** Sign-in box **/

.wrap {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.sign-in-box {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 500px;
    min-width: 300px;
    padding: 48px 68px;
}

/** title **/

.sign-in-box .title h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 28px;
}

/** Input box **/

.input-box {
    position: relative;
}

.box1 {
    margin-bottom: 20px;
}

.input-box input {
    height: 57px;
    width: 314px;
    padding: 24px 16px 8px;
    box-sizing: border-box;
    margin-right: 13px;
    background-color: transparent;
    border: 2px solid #5e5e5e;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #b0b0b0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 0;
    background-color: transparent;
    padding: 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    transform: translateY(-120%);
    font-size: 0.8rem;
    top: 25px;
    left: 12px;
    z-index: 1;
    padding: 0 5px;
    color: #b0b0b0;
}

/** button **/

.button button {
    height: 40px;
    width: 314px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #e50914;
    color: #fff;
    margin-top: 20px;
}

.button button:hover {
    background: #c11119;
}

/** Text between two buttons **/

.text {
    display: flex;
    justify-content: center;
}

.text p {
    margin-top: 20px;
    font-size: 16px;
    color: #ffffffb3;
}

/** button 2 **/

.code button {
    height: 40px;
    width: 314px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: red;
    color: #fff;
}

/** forgot password **/

.forgot-password {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/** remember password **/

.remember {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;   
    appearance: none;  
    width: 18px;
    height: 18px;
    transform: scale(1.05);
    background-color: #000; 
    border: 2px solid #555;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    width: 3px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -50%);
    display: none;
}

input[type="checkbox"]:checked::before {
    display: block;
}

input[type="checkbox"]:checked {
    background-color: #fff;
    color: #000;
    border: none;
}

input[type="checkbox"]:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

.remember label {
    padding: 0 0 0 12px;
    font-size: 16px;
    color: #ffffff;
}